---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Content
// - Props
type Props = {
	data: Array<{
		title?: string
		text?: string
		image?: string
	}>
}
const { data } = Astro.props
---

<Section id="features">
	<Row>
		{
			data.map((feature: any) => (
				<Col span="4" classes="mb-6">
					<img
						src={feature.image}
						alt="Feature Block"
						loading="lazy"
						class="mb-6 rounded-2xl border border-neutral-100 dark:border-neutral-800"
						width="100%"
						height="100%"
					/>
					<p class="text-lg leading-relaxed">
						<strong class="text-neutral-700 dark:text-neutral-50">{feature.title}: </strong>
						{feature.text}
					</p>
				</Col>
			))
		}
	</Row>
</Section>
